[Desktop Entry]
Name=TRN
Type=Application
Comment=TRN - A Usenet newsreader
Comment[pl]=TRN - czytnik newsów 
Exec=trn
Terminal=true
Encoding=UTF-8
Categories=Network;News;
# vi: encoding=utf-8
